.list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 3rem;
  padding: 40px 200px;
}

@media only screen and (max-width: 900px) {
  .list-wrapper {
    padding: 40px 20px;
  }
}
