@import '../../colors';
@import '../../mixins';

.genre-tag {
  @include font-theme-color;

  display: flex;
  align-items: center;
  background-color: $base-dark;
  padding: 4px 8px;
  border-radius: 5px;

  p {
    font-weight: 600;
    font-size: 12px;
  }
}
