@import '../../mixins';

header {
  @include font-theme-color;

  display: flex;
  justify-content: center;
  padding: 8px;

  h1 {
    font-family: 'LondrinaOutline', sans-serif;
    font-size: 36px;
    font-style: italic;
  }
}
