@import '../../colors';
@import '../../mixins';

.platform-icon {
  @include font-theme-color;

  display: flex;
  align-items: center;
  background-color: $base-dark;
  padding: 5px 4px;
  border-radius: 5px;

  svg {
    padding: 0 4px;
  }
}
