.card {
  /* display: flex; */
  border-bottom: 3px solid #ffd369;
  border-top: 3px solid #ffd369;
  border-radius: 5px;
  overflow: hidden;
  background-color: #393e46;
}

.card > img {
  width: 100%;
  max-height: 220px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.card > .game-info {
  padding: 10px;
}

.card > .game-info > h3 {
  margin: 0;
}
